.wordElement {
    padding-right: 5px;
    text-decoration: none;
    cursor: pointer;
}

.definition {
    margin-top: 10px;
    position: relative;
    display: flex;
    border: 1px solid black;
}

table {
    border: 1px solid black;
    float: left;
    margin-left: 5px;
}