.wordElement {
    padding-right: 5px;
    text-decoration: none;
    cursor: pointer;
}

.selected {
    background-color: #acff68;
}

.agrees {
    background-color: #ddffc2;
}

.definition {
    padding: 5px;
    margin-top: 10px;
    position: relative;
    border: 1px solid black;
}

.inflections {
    display: flex;
}

.meaning {
    display: flex;
}

table {
    border: 1px solid black;
    margin-left: 5px;
}